body {

    backgroud: #000000

    <h1> color:#E34007; font-fimily: Arial, sans-serif; font-size: 60px; text-align: readh; margin-top: 50px;font-size: 600px;
</h1>

    <h2> color: #E34007; font-family: Arial, sans-serif; font-size: 40px; text-align: lefth; margin-top: 40px; </h2>
 
    <link> backgraud=color:#E34007; color:#000000; border-radius:46px font-family Arial, sans-serif; font-size:24px;text-align:lefth; margin-top:40px; </link>


}